# 忽略特定目录下的所有文件和子目录
./分好的数据集csv/二进制分批数据集/
Sitalica_312_v2.2.gene.gff3
Sitalica_312_v2.fa
gly_python
CNN_GCN/GLYpython
./.vscode/
./__pycache__/

# 其他常见忽略规则
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
venv.bak/
.idea/
.vscode/
__pycache__/
.DS_Store
*.swp

分好的数据集csv/At/Arabidopsis_thaliana.fa
分好的数据集csv/At/Arabidopsis_thaliana.TAIR10.59.gff3
分好的数据集csv/Gm/Gmax_508_v4.0.fa
分好的数据集csv/Gm/Gmax_508_Wm82.a4.v1.gene.gff3
分好的数据集csv/Os/Oryza_sativa.IRGSP-1.0.59.chr.gff3
分好的数据集csv/Os/Oryza_sativa.IRGSP-1.0.dna.toplevel.fa
